<mat-list>
  <div mat-subheader>Folders</div>
  <mat-list-item>
    <mat-icon mat-list-icon>folder</mat-icon>
    <div mat-line>Telegram</div>
    <div mat-line>2022,04,09</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>folder</mat-icon>
    <div mat-line>Images</div>
    <div mat-line>2022,04,09</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>folder</mat-icon>
    <div mat-line>Whatsapp</div>
    <div mat-line>2022,04,09</div>
  </mat-list-item>
</mat-list>
